body {
    margin: 0;
    padding: 10px 0;
    font-size: 20px;
    background: #f0f0f0;
    font-family: Abel, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    border-bottom: 1px solid currentColor;
}

.container {
    width: 900px;
    margin: 0 auto;
}

input {
    background: none;
    border: 2px solid currentColor;
    padding: 0 2em;
    height: 40px;
}

button {
    border-radius: 0;
    box-shadow: 0;
    background: none;
    border: 2px solid currentColor;
    padding: 0 2em;
    line-height: 40px;
    font-weight: bold;
    text-transform: uppercase;
}
