/* red: #ff8474 */
/* green: #c6ea86 */
/* blue: #74afff */
/* pink: #efb0e2 */

html {
    font-size: 10px;
}

*:focus {
    outline: none;
    box-shadow: 0 0 0 3px #efb0e2;;
}

body {
    margin: 0;
    padding: 3rem 0;
    font-size: 2rem;
    background: #fbf9f3;
    font-family: Quicksand, sans-serif;
}

* {
    box-sizing: border-box;
}

p {
    margin: 0 0 20px;
}

h1, h2, h3, h4, h5, h6 {
    color: #2294f7;
    margin-top: 0;
    margin-bottom: 2rem;
    border-bottom: 0.1rem solid currentColor;
}

.sidebar {
    width: 20rem;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 3rem 1rem 0 3rem;
}

.bg-dark {
    background: #545456;
    color: #f0f0f0
}

.container {
    padding-left: 22rem;
    min-width: 780px;
}

input {
    background: none;
    border: 2px solid currentColor;
    padding: 0 2em;
    height: 4rem;
}

button {
    border-radius: 0;
    box-shadow: 0;
    background: none;
    border: 2px solid currentColor;
    padding: 0 2em;
    line-height: 3.6rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: background .2s;
    font-family: inherit;
}

button.red {
    background: #ff8474;
    color: #fff;
    border-color: #ff8474;
}

button.green {
    background: #c6ea86;
    color: #3b3b3b;
    border-color: #c6ea86;
}

button.blue {
    background: #74afff;
    color: #fff;
    border-color: #74afff;
}

button:hover {
    background: #ccc;
}

.mb {
    margin-bottom: 2rem;
}

.cursor-pointer {
    cursor: pointer;
}

.authForm form {
    display: inline-block;
    margin-bottom: 20px;
}

.error-message {
    font-size: 1.4rem;
    color: #ff8474;
    padding: 10px;
    border: 1px solid currentColor;
    border-radius: 2px;
}
