html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 3rem 0;
    font-size: 2rem;
    background: #f0f0f0;
    font-family: Abel, sans-serif;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 2rem;
    border-bottom: 0.1rem solid currentColor;
}

.sidebar {
    width: 20rem;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 3rem 1rem 0 3rem;
}

.bg-dark {
    background: #545456;
    color: #f0f0f0
}

.container {
    padding-left: 22rem;
    min-width: 780px;
}

input {
    background: none;
    border: 2px solid currentColor;
    padding: 0 2em;
    height: 4rem;
}

button {
    border-radius: 0;
    box-shadow: 0;
    background: none;
    border: 2px solid currentColor;
    padding: 0 2em;
    line-height: 3.6rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: background .2s;
}

button:hover {
    background: #ccc;
}

.mb {
    margin-bottom: 2rem;
}

.cursor-pointer {
    cursor: pointer;
}
